<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zfc.study.order.mapper.TestMapper">

    <select id="queryTestList" resultType="com.zfc.study.stock.vo.TestVo">
        select * from test where 1=1
    </select>

    <insert id="saveTest" parameterType="com.zfc.study.stock.vo.TestVo">
        insert into test
        (
          user_id,
          user_name
        )values (
          #{testVo.userId},
          #{testVo.userName}
        )



    </insert>

</mapper>